.img-logo {
    width: 35px;
    max-height: 80px;
}

.campeao {
    background-color: #CCE5FF;
}

.libertadores {
    background-color: #D1ECF1;
}

.copa-brasil {
    background-color: #D4EDDA;
}

.rebaixamento {
    background-color: #F8D7DA;
}

tr {
    border-bottom: .125em #0000000f solid;
}

.preloader {
    position: absolute;
    z-index: 10;
    background-color: #ffffff9f;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

td {
    display: table-cell;
    text-align: center;
    vertical-align: middle!important;
}